@model GreenTeam.ViewModels.PatchVM
@{
    ViewData["Title"] = "Details";
}

<div>
    <a class="btn btn-link" asp-controller="Gardens" asp-action="Details" asp-route-id=@Model?.GardenId><i class="fas fa-chevron-left"></i> Back to List</a>
</div>

<h1>
    @Html.DisplayFor(model => model.PatchName), @Html.DisplayFor(model => model.Crop)
    @if (Model.isGardenManager)
    {
        <a class="btn btn-link" asp-action="Edit" asp-route-id="@Model?.Id"><i class="fas fa-edit"></i></a>
        <a class="btn btn-link" asp-controller="PatchTasks" asp-action="Create" asp-route-id="@Model?.Id"><i class="fas fa-plus"></i></a>
    }
</h1>



<div class="row row-cols-lg-auto row-detail">
    <div class="col col-lg-auto">
        <table class="table table-hover pointer">


            @foreach (var PatchTaskVM in Model.PatchTasks)
            {
                <tbody>
                    @if (PatchTaskVM.IsCompleted == false && PatchTaskVM.IsDeleted == false)
                    {
                        <tr scope="row" class="alnleft">
                            <td>
                                @using (Html.BeginForm("Complete", "PatchTasks", FormMethod.Post))
                                {
                                    <input type="hidden" name="Id" value="@PatchTaskVM.Id" />
                                    <button type="submit" class="btn btn-outline-light"><i class="fas fa-check"></i></button>
                                }
                            </td>
                            <td width="30%">
                                @if (Model.isGardenManager)
                                {
                                    <a asp-controller="PatchTasks" asp-action="Edit" asp-route-id="@PatchTaskVM.Id">
                                        @Html.DisplayFor(modelItem => PatchTaskVM.TaskName)
                                    </a>
                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => PatchTaskVM.TaskName)
                                }
                            </td>
                            <td class="table-textfield">
                                @if (Model.isGardenManager)
                                {
                                    <a asp-controller="PatchTasks" asp-action="Edit" asp-route-id="@PatchTaskVM.Id">
                                        @Html.DisplayFor(modelItem => PatchTaskVM.TaskDescription)
                                    </a>
                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => PatchTaskVM.TaskDescription)
                                }
                            </td>
                        </tr>
                    }
                    @if (PatchTaskVM.IsDeleted == false && PatchTaskVM.IsCompleted == true)
                    {
                        <tr scope="row" class="alnleft">
                            <td>
                                @using (Html.BeginForm("Delete", "PatchTasks", FormMethod.Post))
                                {
                                    <input type="hidden" name="Id" value="@PatchTaskVM.Id" />
                                    <button type="submit" class="btn btn-success"><i class="fas fa-check"></i></button>
                                }
                            </td>
                            <td width="30%" class="alnleft">
                                @if (Model.isGardenManager)
                                {
                                    <a asp-controller="PatchTasks" asp-action="Edit" asp-route-id="@PatchTaskVM.Id">
                                        @Html.DisplayFor(modelItem => PatchTaskVM.TaskName)
                                    </a>
                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => PatchTaskVM.TaskName)
                                }
                            </td>
                            <td class="table-textfield">
                                @if (Model.isGardenManager)
                                {
                                    <a asp-controller="PatchTasks" asp-action="Edit" asp-route-id="@PatchTaskVM.Id">
                                        @Html.DisplayFor(modelItem => PatchTaskVM.TaskDescription)
                                    </a>
                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => PatchTaskVM.TaskDescription)
                                }
                            </td>
                            <td>
                        </tr>
                    }
                    @if (PatchTaskVM.IsDeleted == true)
                    {
                        <tr scope="row" class="alnleft">
                            <td>
                            </td>
                            <td width="30%">
                                @if (Model.isGardenManager)
                                {
                                    <a asp-controller="PatchTasks" asp-action="Edit" asp-route-id="@PatchTaskVM.Id">
                                        <del>@Html.DisplayFor(modelItem => PatchTaskVM.TaskName)</del>
                                    </a>
                                }
                                else
                                {
                                    <del>@Html.DisplayFor(modelItem => PatchTaskVM.TaskName)</del>
                                }
                            </td>
                            <td class="table-textfield">
                                @if (Model.isGardenManager)
                                {
                                    <a asp-controller="PatchTasks" asp-action="Edit" asp-route-id="@PatchTaskVM.Id">
                                        <del>@Html.DisplayFor(modelItem => PatchTaskVM.TaskDescription)</del>
                                    </a>
                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => PatchTaskVM.TaskDescription)
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            }
        </table>
    </div>
</div>
