@model IEnumerable<GreenTeam.Models.Patch>

@{
    ViewData["Title"] = "Patch Overview";
}

<h1>Patch Overview</h1>

<p>
    <a asp-action="Create">Create New Patch</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Crop)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GardenId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Crop)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GardenId)
            </td>
            <td>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
