@model GreenTeam.ViewModels.GardenDetailsVM

@{
    ViewData["Title"] = "Details";
}

<div><a class="btn btn-link" asp-action="Index"><i class="fas fa-chevron-left"></i> Back to List</a> </div>
<div class="row row-cols-lg-auto row-detail">
    <div class="col col-lg-auto garden-left-div">
        <h1>
            @Html.DisplayFor(model => model.GardenVM.Name)</>
            @if (Model.IsGardenManager)
            {
                <a class="btn btn-link" asp-action="Edit" asp-route-id="@Model?.GardenVM.Id"><i class="fas fa-edit"></i></a>
            }
        </h1>

        @if (Model.GardenVM.Image != null)
        {
            <div class="img-wrapper">
                <img src="data:image;base64,@Convert.ToBase64String(Model.GardenVM.Image.Content)" />
            </div>
        }

        <h4 class="location-h4"><i class="fas fa-map-marker-alt"></i> @Html.DisplayFor(model => model.GardenVM.Location)</h4>

        <h3>
            Active Members
            @if (Model.IsGardenManager)
            {
                <a class="btn btn-link" asp-controller="Users" asp-action="Search" asp-route-id="@Model?.GardenVM.Id"><i class="fas fa-plus"></i></a>
            }
        </h3>
        <table class="table table-striped">
            <tbody>
                @foreach (var item in Model.GardenVM.Users)
                {
                    <tr scope="row" class="alnleft">
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="col col-lg-auto garden-right-div">
        <h3>
            Available Patches
            @if (Model.IsGardenManager)
            {
                <a class="btn btn-link" asp-controller="Patches" asp-action="Create" asp-route-id="@Model?.GardenVM.Id"><i class="fas fa-plus"></i></a>
            }
        </h3>

        <!-- TODO: Joel will add stretched-link-->
        <table class="b-table table table-hover table-narrow">
            <tbody>
                @foreach (var item in Model.GardenVM.Patches)
                {
                    <tr scope="row" class="alnleft">
                        <td width="50%">
                            <a class="table-content" asp-controller="Patches" asp-action="Details" asp-route-id="@item.Id">
                                @Html.DisplayFor(modelItem => item.PatchName):
                            </a>
                        </td>
                        <td width="50%">
                            <a class="table-content" asp-controller="Patches" asp-action="Details" asp-route-id="@item.Id">
                                @Html.DisplayFor(modelItem => item.Crop)
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
        <br />

        <h3>Open Tasks</h3>
        <table class="b-table table table-hover">
            <tbody>
                @foreach (var patch in Model.GardenVM.Patches)
                {
                    @foreach (var patchTask in patch.PatchTasks)
                    {
                        <tr scope="row row-detail" class="alnleft">

                            @if (patchTask.IsCompleted == false)
                            {
                                <td>
                                    @using (Html.BeginForm("Complete", "PatchTasks", FormMethod.Post))
                                    {
                                        <input type="hidden" name="Id" value="@patchTask.Id" />
                                        <button type="submit" class="btn btn-outline-light"><i class="fas fa-check"></i></button>
                                    }
                                </td>
                                <td>
                                    <a asp-controller="PatchTasks" asp-action="Edit" asp-route-id="@patchTask.Id">
                                        <text class="table-text">@Html.DisplayFor(modelItem => patchTask.TaskName)
                                    </a>
                                </td>
                            }
                            @if (patchTask.IsCompleted == true)
                            {
                                <td>
                                    @using (Html.BeginForm("Complete", "PatchTasks", FormMethod.Post))
                                    {
                                        <input type="hidden" name="Id" value="@patchTask.Id" />
                                        <button type="submit" class="btn btn-success"><i class="fas fa-check"></i></button>
                                    }
                                </td>
                                <td>
                                    <a asp-controller="PatchTasks" asp-action="Edit" asp-route-id="@patchTask.Id">
                                        <text class="table-text">@Html.DisplayFor(modelItem => patchTask.TaskName)
                                    </a>
                                </td>
                            }

                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

