@model GreenTeam.ViewModels.GardenDetailsVM

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.GardenVM.Name)</></h1>
<h4>&#127919;@Html.DisplayFor(model => model.GardenVM.Location)</></h4>

@if (Model.GardenVM.Image != null)
{
    <div class="img-wrapper">
        <img src="data:image;base64,@Convert.ToBase64String(Model.GardenVM.Image.Content)" />
    </div>
}

<p>
    @if (Model.IsGardenManager)
    {
        <a class="btn btn-action" asp-controller="Patches" asp-action="Create" asp-route-id="@Model?.GardenVM.Id">&#10010; Patch</a>
        <a class="btn btn-action" asp-action="Edit" asp-route-id="@Model?.GardenVM.Id">&#9998; Garden</a>
    }
    <a class="btn btn-action" asp-action="Index">&#10096; Back to List</a>
</p>

<div class="card"> <!-- TODO: fix padding and refactor stretched link-->
<table class="table table-hover">
    @foreach (var item in Model.GardenVM.Patches)
    {
        <tbody>
            <tr scope="row" class="alnleft">
                <td>
                    <a class="table-content" asp-controller="Patches" asp-action="Details" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.PatchName):
                    </a>
                </td>
                <td>
                    <a class="table-content" asp-controller="Patches" asp-action="Details" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Crop)
                    </a>
                </td>
            </tr>
        </tbody>
    }
</table>
</div>  

<br />
<br />

<table class="table table-striped">
    @foreach (var item in Model.GardenVM.Users)
    {
        <tbody>
            <tr scope="row" class="alnleft">
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                @if (item.IsGardenManager)
                {
                    <td>Manager</td>
                }
                else
                {
                    <td>Member</td>
                }
            </tr>
        </tbody>
    }
</table>

<p>
    @if (Model.IsGardenManager)
    {
        <a class="btn btn-action" asp-controller="Users" asp-action="Search" asp-route-id="@Model?.GardenVM.Id">&#10010; Member</a>
    }
</p>
