@model GreenTeam.ViewModels.GardenView

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Garden.Name)</></h1>

<p>
    <a asp-controller="Patches" asp-action="Create" asp-route-id="@Model?.Garden.Id">Add Patch</a> |
    <a asp-action="Edit" asp-route-id="@Model?.Garden.Id">Edit Garden</a> |
    <a asp-action="Index">Back to List</a>
</p>

<table class="table">
   @foreach(var item in Model.Patches)
    {
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(modelItem => item.Crop)
            </th>
            
        </tr>
    </thead>
    <tbody>
    
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Crop)
            </td>
             <td>
            </td>
            <td>
                <a asp-controller="Patches" asp-action="Edit" asp-route-id="@item.Id">Edit</a> | 
                <a asp-controller="Patches" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>

       </tr>
        
    
    </tbody>
    }
    </table>