@model GreenTeam.ViewModels.GardenDetailsVM

@{
    ViewData["Title"] = "Details";
}

<div>
    <a class="btn btn-link" asp-action="Index"><i class="fas fa-chevron-left"></i> Back to List</a>
</div>

<div class="row row-cols-lg-auto row-detail">
    <div class="col col-lg-auto garden-left-div">
        <h1>
            @Html.DisplayFor(model => model.GardenVM.Name)</>
            @if (Model.IsGardenManager)
            {
                <a class="btn btn-link" asp-action="Edit" asp-route-id="@Model?.GardenVM.Id"><i class="fas fa-edit"></i></a>
            }
        </h1>

        @if (Model.GardenVM.Image != null)
        {
            <div class="img-wrapper">
                <img src="data:image;base64,@Convert.ToBase64String(Model.GardenVM.Image.Content)" />
            </div>
        }

        <h4 class="location-h4"><i class="fas fa-map-marker-alt"></i> @Html.DisplayFor(model => model.GardenVM.Location)</h4>
        <br />
        <h3>
            Active Members
            @if (Model.IsGardenManager)
            {
                <a class="btn btn-link" asp-controller="Users" asp-action="Search" asp-route-id="@Model?.GardenVM.Id"><i class="fas fa-plus"></i></a>
            }
        </h3>
        <table class="table table-striped">
            <tbody>
                @foreach (var item in Model.GardenVM.Users)
                {
                    <tr scope="row" class="alnleft">
                        <td>
                            @if (item.IsGardenManager)
                            {
                                <i class="fas fa-star fa-xs"></i>
                            }
                            @if (!item.IsGardenManager)
                            {
                                <i class="fas fa-user fa-xs"></i>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @if (@Model.IsGardenManager && !@item.IsGardenManager)
                            {
                                <a asp-controller="Users" asp-action="RemoveMemberFromGarden" asp-route-id="@item.UserEmail+@Model.GardenVM.Id">-</a>
                            }
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="col col-lg-auto garden-right-div">
        <h3>
            Patches
            @if (Model.IsGardenManager)
            {
                <a class="btn btn-link" asp-controller="Patches" asp-action="Create" asp-route-id="@Model?.GardenVM.Id"><i class="fas fa-plus"></i></a>
            }
        </h3>

        <table class="b-table table table-hover table-narrow pointer">
            <tbody>
                @foreach (var item in Model.GardenVM.Patches)
                {
                    <tr scope="row" class="alnleft">
                        <td width="50%">
                            <a class="table-content" asp-controller="Patches" asp-action="Details" asp-route-id="@item.Id">
                                @Html.DisplayFor(modelItem => item.PatchName):
                            </a>
                        </td>
                        <td width="50%">
                            <a class="table-content" asp-controller="Patches" asp-action="Details" asp-route-id="@item.Id">
                                @Html.DisplayFor(modelItem => item.Crop)
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
        <br />

        <h3>Tasks</h3>
        <table class="b-table table table-hover pointer">
            <tbody>
                @{
                    var count = 0;
                    @foreach (var patch in Model.GardenVM.Patches)
                    {
                        @foreach (var patchTask in patch.PatchTasks)
                        {
                            @if (patchTask.IsCompleted == false && count < 10)
                            {
                                count++;
                                <tr scope="row row-detail" class="alnleft">
                                    <td>
                                        @using (Html.BeginForm("Complete", "PatchTasks", FormMethod.Post))
                                        {
                                            <input type="hidden" name="Id" value="@patchTask.Id" />
                                            <button type="submit" class="btn btn-outline-light"><i class="fas fa-square-o"></i></button>
                                        }
                                    </td>
                                    <td>
                                        <a asp-controller="PatchTasks" asp-action="Edit" asp-route-id="@patchTask.Id">
                                            <text class="table-text">@Html.DisplayFor(modelItem => patchTask.TaskName)</text>
                                        </a>
                                    </td>
                                    <td>
                                        <text class="table-text">@Html.DisplayFor(modelItem => patch.PatchName)</text>
                                    </td>
                                </tr>
                            }
                        }
                    }
                    @foreach (var patch in Model.GardenVM.Patches)
                    {
                        @foreach (var patchTask in patch.PatchTasks)
                        {
                            @if (patchTask.IsCompleted == true && patchTask.IsDeleted == false && count < 10)
                            {
                                count++;

                                <tr>
                                    <td>
                                        @using (Html.BeginForm("Complete", "PatchTasks", FormMethod.Post))
                                        {
                                            <input type="hidden" name="Id" value="@patchTask.Id" />
                                            <button type="submit" class="btn btn-success"><i class="fas fa-check"></i></button>
                                        }
                                    </td>
                                    <td>
                                        <a asp-controller="PatchTasks" asp-action="Edit" asp-route-id="@patchTask.Id">
                                            <text class="table-text">@Html.DisplayFor(modelItem => patchTask.TaskName)</text>
                                        </a>
                                    </td>
                                    <td>
                                        <text class="table-text">@Html.DisplayFor(modelItem => patch.PatchName)</text>
                                    </td>
                                </tr>
                            }
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>




